* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 


body {
    background-color: aquamarine;
}& a:link, a:visited, a:active{

text-decoration: none;
    
}& button{

    width: auto;
    min-width: 60px;
    padding: 2px 4px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.formUser {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 200px;

}

.formUser button {

    width: 70px;
    margin: auto;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 10px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 80%;
    gap: 8px;
    margin: auto;
}

.cardContainer {

    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.555);
    padding: 20px 10px;
}

& p {
    font-weight: 500;
}

& span {

    color: red;
    font-weight: bold;
    font-size: 16px;

}

.imgCard {
    height: 100px;
    width: 100px;
    aspect-ratio: 1;
    margin: 4px 0px ;
}

.titleCard {

    text-decoration: underline;

}

.textCard {

    display: flex;
    width: 90%;
    flex-direction: column;
    text-align: left;
}

.containerForm{

    display: flex;
    flex-direction: column;
    gap: 4px;

    
}
.formProduct{

    width: 50%;
    margin: auto;
}
